* {
    font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
    transition: all .1s ease-in;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #3B3F45;
    min-height: 100%;
}

header {
    width: 100%;
    color: rgb(243, 83, 86);
    background-color: #4A4F56;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    font-size: 40px;
}

header h1+span {
    font-size: 22px;
}

.list {
    padding-top: 30px;
    padding-bottom: 30px;
}

.list, footer {
    margin: 0 auto;
    width: 50%;
}

footer {
    color: rgb(243, 83, 86);
    background-color: #4A4F56;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
}

.foot, .list {
    font-size: 22px;
}

.list tr td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.list tr:nth-child(odd) {
    background-color: #88839e;
}

.list tr:nth-child(even) {
    background-color: #7a7593;
}

.list .item {
    color: rgb(245, 157, 157);
}

.list .add {
    font-size: 14px;
    color: #C5BDC3;
}

.list tr:hover {
    background-color: #625E77;
}

.list input[type="checkbox"]:checked ~ span {
	color: #A49EB2;
	text-decoration: line-through;
}

.list tr:active {
    background-color: #33b939;
}

td {
    padding-left: 10px;
}

.list label, input[type="checkbox"] {
    cursor: pointer;
}

.add:before {
    content: "(";
}

.add:after {
    content: ")";
}



